body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden; /* Prevent scrolling */
}

.quiz-container {
  display: flex;
  width: 1000px;
  height: 100vh; /* Fixed height */
  overflow: hidden; /* Prevent scrolling */
  position: relative;
}

.quiz-slide-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.quiz-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

.intro,
.quiz-end {
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .quiz-slide.active {
  display: block;
  background-size: cover;
  background-position: center;
  height: 100%;
  animation: slideUp 0.5s forwards;
} */

.quiz-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.quiz-slide.active {
  z-index: 2;
  animation: slideUp 0.5s forwards;
}

.quiz-slide.previous {
  z-index: 1;
}

.question h2 {
  margin: 0;
}

.answers {
  margin-top: 20px;
}

.correct-answer {
  margin-top: 10px;
  color: green;
  display: block;
}

.show-answer {
  margin-top: 10px;
}

.next-question {
  margin-top: 20px;
}

.quiz-end {
  text-align: center;
}

.answer {
  display: block;
  margin: 5px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.answer.selected {
  background-color: #d0d0f0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: slideUpModal 0.5s forwards;
}

.share-links {
  margin-top: 20px;
}

.share-links a {
  display: block;
  margin: 5px 0;
  color: blue;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpModal {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(50%);
  }
}
