.front-page {
  display: flex;
  /* height: 100vh; */
  position: relative;
  background: #fae3d3;
  /* padding-left: 2.88rem;
  padding-right: 2.94rem; */
}

.front-page .front-page-container {
  background-image: url("../../assets/landing.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.44rem;
}

.front-page-content {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front-page h2 {
  color: #f2feff;
  font-family: "Aileron";
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0;
}

.front-page .front-page-content p {
  color: #f2feff;
  text-align: center;
  font-family: "Arimo";
  font-size: 14px;
  font-weight: 400 !important;
}

.front-page .front-button-container {
  width: 5.48169rem;
  height: 5.48169rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2.139px solid #f2feff;
  border-radius: 100%;
  margin-top: 7rem;
}
.start-quiz-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dfd4c5;
  color: #a74702;
  text-align: center;
  font-family: Aileron;
  font-size: 0.62394rem;
  font-weight: 700;
  line-height: normal;
  border: none;
  gap: 10.7px;
  width: 4.63494rem;
  height: 4.63494rem;
  flex-shrink: 0;
  border-radius: 100%;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;

  transition: transform 0.3s ease-in;
}

.move-up {
  animation: moveUp 300ms ease-in forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
