.sidebar {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 200px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
}

.menu-button {
  background-color: white;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.sidebar-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.bar {
  width: 15px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid black;
  margin-right: 10px;
}

.bar.active {
  background-color: orange;
  border-color: black;
}

.sidebar-item span {
  font-size: 14px;
  color: #fff;
}

.sidebar-item:first-child .bar {
  background-color: #f8f9fa;
}

.sidebar-item.active .bar {
  background-color: orange;
}

.sidebar-item:last-child .bar {
  background-color: #f8f9fa;
}
