.sidebar {
  position: fixed;
  right: 2.94rem;
  top: 7rem;
  width: 200px;
  padding: 10px;
  height: fit-content;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

.sidebar li {
  display: flex;
  margin-bottom: 1.2rem;
  align-items: center;
  color: #f6f6f6;
  font-family: "Aileron";
  font-size: 0.875rem;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.bar-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
}

.bar {
  border-radius: 3.6875rem;
  border: 3.58px solid #000;
  background: #f2feff;
  height: 0.6rem;
  flex-shrink: 0;
  width: 2.375rem !important;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}

.bar.active {
  background-color: #ff6b00;
}

.front-bar,
.result-bar {
  border-radius: 0.44756rem;
  border: 3.58px solid #000;
  background: #f2feff;
  height: 2.375rem;
  align-self: stretch;
  flex-shrink: 0;
  width: 2.375rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-text {
  flex-grow: 1;
  display: none !important;
}

.menu-text {
  color: #ababab;
  text-align: center;
  font-family: "Aileron";
  font-size: 0.65rem;
  font-weight: 700;
}

.active-menu-text {
  color: #fff;
  text-align: center;
  font-family: "Aileron";
  font-size: 0.65rem;
  font-weight: 700;
}

.active-text {
  color: #fff;
}

.question-page-background {
  position: absolute;
  top: calc(1.3125rem + 2.58px);
  bottom: calc(1.3125rem + 1rem);
  left: 1.5rem;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 0;
  background-image: url("../../assets/columns.png");
  background-repeat: no-repeat;
}

.front-text {
  display: none;
}
