@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.cdnfonts.com/css/aileron");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: #fae3d3;
}

.app-container {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
  max-width: 1560px;
  margin: 0 auto;
}

.content {
  width: calc(100% - 200px);
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.front-page {
  transform: translateY(0);
}

.question-page-enter {
  transform: translateY(100%);
}

.question-page-enter-active {
  transform: translateY(0);
}

.question-page-exit {
  transform: translateY(0);
}

.question-page-exit-active {
  transform: translateY(-100%);
}

.result-page-enter {
  transform: translateY(100%);
}

.result-page-enter-active {
  transform: translateY(0);
}

.result-page-exit {
  transform: translateY(0);
}

.result-page-exit-active {
  transform: translateY(-100%);
}

.general-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dfd4c5;
  color: #a74702;
  text-align: center;
  font-family: Aileron;
  font-size: 0.62394rem;
  font-weight: 700;
  line-height: normal;
  border: none;
  gap: 10.7px;
  width: 4.63494rem;
  height: 4.63494rem;
  flex-shrink: 0;
  border-radius: 100%;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

.general-button-container {
  width: 5.48169rem;
  height: 5.48169rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2.139px solid #f2feff;
  border-radius: 100%;
}
