@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.cdnfonts.com/css/aileron");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.app-container {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.content {
  width: calc(100% - 200px);
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.front-page {
  transform: translateY(0);
}

.question-page-enter {
  transform: translateY(100%);
}

.question-page-enter-active {
  transform: translateY(0);
}

.question-page-exit {
  transform: translateY(0);
}

.question-page-exit-active {
  transform: translateY(-100%);
}

.result-page-enter {
  transform: translateY(100%);
}

.result-page-enter-active {
  transform: translateY(0);
}

.result-page-exit {
  transform: translateY(0);
}

.result-page-exit-active {
  transform: translateY(-100%);
}
