/* ResultPage.css
.result-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slideUp 1s ease-in-out forwards;
}

.result-page-header {
  font-size: 2rem;
  color: #333;
}

.result-page-content {
  text-align: center;
}

.social-media a {
  display: block;
  margin: 10px 0;
  color: #007bff;
  text-decoration: none;
  font-size: 1.2rem;
}

.social-media a:hover {
  text-decoration: underline;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
} */

/* ResultPage.css */
.result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: slideUp 1s ease-in-out forwards;
}

.result-page-header {
  margin-bottom: 20px;
}

.result-content {
  text-align: center;
}

.result-buttons {
  margin-top: 20px;
}

.result-buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.result-buttons button:hover {
  background-color: #0056b3;
}

.result-buttons a {
  padding: 10px 20px;
  background-color: #1da1f2;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.result-buttons a:hover {
  background-color: #0d95e8;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
